<!DOCTYPE html>
<html>
  <body>
    <form action="/articles/<%= @post.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for "name">Name:</label>
      <input type="text" id="title" name="title" value="<%= @post.title %>">
      <br />
      <label for "content">Content:</label>
      <input type="text" id="content" name="content" value="<%= @post.content %>">
      <br />
      <input type="submit" value="submit" id="submit">
    </form>
  </body>
</html>