<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
  </head>
  <body>
    <h1>List of all Articles</h1>
    <% @articles.each do |article| %>
    <h3>TITLE: <%article.title%></h3>
    
    
    <% end %>
    
    </form>
  </body>
</html>