
<!DOCTYPE html>
<html>
  <head>
    <title>Article</title>
  </head>
  <body>
    <h1>Create a new article</h1>
    <form method="POST" action="/articles">

    <p><label for="title">Articles's Title: </label>
    <input type="text" id="title" name="title"></p>

    <p><label for="content"> Content: </label>
    <input type="text" id="content" name="content"></p>

    <button type="submit" value="submit" id="submit">Submit</button>
    </form>
  </body>
</html>