
<!DOCTYPE html>
<html>
  <head>
    <title>Article</title>
  </head>
  <body>
    <h1>Create a new article</h1>
    <form method="POST" action="/articles">

    <p><label for="article[title]"> Teams's Name: </label>
    <input type="text" id="article[title]" name="article[title]"></p>

    <p><label for="article[content]"> Teams's Name: </label>
    <input type="text" id="article[content]" name="article[content]"></p>

    <button type="submit" value="submit" id="submit">Submit</button>
    </form>
  </body>
</html>