<!DOCTYPE html>
<html>
  <body>
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
    <br />
    <form method="POST" action="/articles/<%= @post.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>